@import 'tailwindcss';

@theme {
  --font-primary: 'Droid Sans Mono', Arial, sans-serif;
  --font-secundary: 'Spectral', Georgia;
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    @apply font-(--font-primary) m-0 text-[#333];
  }
}
