@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'tailwindcss';

@theme {
  --font-primary: Helvetica, Arial, sans-serif;
  --font-secundary: 'Spectral', georgia;

  --color-light: #1a1816ff;
  --color-dark: #e2f0f7ff;

  --color-light-blue: #4799fd;
  --color-dark-blue: #00132a;

  --color-blue1: #89b4fa;
  --color-blue2: #4799fd;
  --color-blue3: #469bfd;
  --color-green-blue1: #39aef9;
  --color-green-blue2: #31b9f6;
  --color-green-blue3: #27c8f2;
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    padding-top: 5.125rem;
    font-family: var(--font-primary);
    @apply m-0 text-dark bg-[#181f2b];
  }

  h1,
  h2,
  h3,
  h4,
  p,
  div,
  section {
    margin: 0px;
    padding: 0px;
  }

  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  label {
    display: block;
    line-height: 1;
    padding-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-primary);
    color: text-dark;
  }

  button {
    display: block;
    font-size: 1rem;
    font-family: var(--font-primary);
  }

  a {
    text-decoration: none;
    color: var(--color-dark);
  }

  .container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
  }

  .animeLeft {
    opacity: 0;
    transform: translate(-20px);
    animation: animaLeft 0.4s forwards;
  }

  @keyframes animaLeft {
    to {
      opacity: 1;
      transform: initial;
    }
  }
}
